/* Custom Font */

@font-face {
    font-family: VCR;
    src: url('../assets/fonts/VCR-font.ttf');
}

@font-face {
    font-family: Streamster;
    src: url('../assets/fonts/Streamster-font.ttf');
}


/* Main Page */

body {
    font-family: Streamster;
    background: #000;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ae3557, #4e2c69, #000);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ae3557, #4e2c69, #000);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ae3557, #4e2c69, #000);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ae3557, #4e2c69, #000);
    /* Standard syntax */
}

/* Horizontal Separator */

.horizontal-separator {
    color: #ae3557;
    border: 1.5px solid;
    box-shadow: 0 0 15px #ae3557;
}

/* Header */

.nav-container {
    margin-bottom: 20px;
}

.logo-image {
    padding-top: 10px;
}

.title-container {
    color: #fff;
    display: block;
    float: right;
    text-align: right;
    text-shadow: 5px 5px 5px #4e2c69;
}

.title {
    font-size: 45px;
}

.sub-title {
    font-size: 30px;
}

/* Main Image */

.main-image {
    margin-bottom: 20px;
}

.main-image-content {
    max-height: 800px;
    width: 100%;
}

/* Featured Work */

.featured-work-title {
    color: #fff;
    margin-bottom: 35px;
    padding: 15px;
    font-size: 40px;
    text-shadow: 5px 5px 5px #ae3557;
}

/* Job Boxes */

.job-box {
    text-align: center;
}

.job-title {
    font-size: 30px;
    text-shadow: 5px 5px 5px #ae3557;
    margin-top: 5px;
    color: #fff;
}

.job-image {
    display: block;
    margin: 0 auto;
}

/* Media Queries */

@media screen and (max-width: 500px) {
    .nav-container {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
    .logo-image {
        padding-top: 0;
    }
    .title {
        text-align: center;
        width: 100%;
        color: #fff;
        position: absolute;
    }
    .title h1 {
        font-size: 30px;
    }
    .title h3 {
        font-size: 20px;
    }
}